<a class="btn btn-primary" href="create-survey">
    Create new survey
</a>

<h1>My surveys</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Survey Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of surveyList">
        <td>{{survey.surveyName}}</td>
        <td><button type="button" class="btn btn-dark"><a href="#" [routerLink]="['/update-survey/', survey.id]">Edit</a></button></td>
        <td><button type="button" class="btn btn-danger" (click)="deleteSurvey(survey.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>